.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.menu-title {
  font-size: 1.825rem;
  color: #5f3e2a;
  text-align: center;
  margin: 80px auto 50px;
}

.custom-nav-link {
  color: #5f3e2a;
  opacity: 0.7;
  font-size: 1.125rem;
  padding: 30px;
  text-decoration: none;
  position: relative;
}

.custom-nav-link.active {
  color: #5f3e2a;
  opacity: 1;
  text-decoration: underline;
}

.title-option {
  margin-top: 50px;
  color: #5f3e2a;
}

.title-option::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: #5f3e2a;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 250px);
  }
  
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .title-option{
    font-size: 1.25rem;
  }
}
