@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f2e2ce;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f2e2ce;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background: #ae8b6c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #5f3e2a;
}

.title{
    font-size: 1.825rem;
    color: #5f3e2a;
    text-align: center;
    margin: 130px 0 55px 0;
}